.wrapper {
  height: 400px;
  width: 60%;
  margin-left: 20vw;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../../../public/contactImage.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  gap: 20px;
}
.titleWrapper {
  display: flex;
  justify-content: center;
}
.absolute {
  position: absolute;
  left: 0;
  top: 20%;
}

.absolute2 {
  position: absolute;
  right: 0;
  top: 20%;
  display: flex;
  justify-content: flex-end;
}

.image {
  height: auto;
  width: 50%;
}

.image2 {
  height: auto;
  width: 50%;
  transform: rotateY(180deg);
}

.wrapperContent {
  margin-top: 5%;
}

.firstColumns {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 2;
}

.input {
  width: 40%;
}

.input::placeholder {
  padding-left: 5px;
}

.inputMail::placeholder {
  padding-left: 5px;
}

.mailInput {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 72%;
  z-index: 2;
}

.descInput {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  z-index: 2;
}

.descInput::placeholder {
  padding-left: 5px;
}

.inputDesc {
  width: 80%;
  height: 4em;
  border: none;
  outline: none;
  background-color: #f5e6ff;
  font-size: inherit;
  font-family: inherit;
  color: #481c8ea6;
  padding: 10px;
  margin: 0;
}

.checkboxik {
  width: 40px;
  height: 40px;

  color: black;
  appearance: none;
  border: 3px solid #ffffff;
  border-radius: 11px;
}

@media only screen and (max-width: 800px) {
  .wrapper {
    height: 200px;
    margin-top: 4%;
    width: 100%;
    margin-left: 0vw;
    gap: 10px;
  }
  .firstColumns {
    padding-top: 10px;
    width: 100%;
  }

  .input {
    font-size: 10px;
    padding: 2px;
    width: 100%;
  }

  .inputMail {
    font-size: 12px;
    padding: 5px;
  }
  .inputDesc {
    height: auto;
    font-size: 12px;
    padding: 5px;
  }

  .absolute {
    top: 20%;
  }

  .absolute2 {
    top: 20%;
  }

  .image {
    height: auto;
    width: 50%;
  }

  .image2 {
    height: auto;
    width: 50%;
  }
}

.greyButton {
  background-color: #ffffff;
  color: grey;
  height: 10%;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 24px;
  cursor: not-allowed;
  z-index: 20;
}

.whiteButton {
  background-color: #ffffff;
  color: #481c8e;
  height: 10%;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 24px;
  cursor: pointer;
  z-index: 20;
}

.sentText {
  color: #481c8e;
  background-color: #2fe7e4;
  z-index: 20;
}

@media only screen and (max-width: 450px) {
  .wrapper {
    height: 320px;
    margin-top: 4%;
    width: 100%;
    margin-left: 0vw;
    background-size: cover;
  }
  .firstColumns {
    padding-top: 2px;
  }

  .input {
    font-size: 12px;
    padding: 3px;
  }

  .mailInput {
    margin-top: 5%;
    width: 90%;
    font-size: 12px;
  }

  .inputDesc {
    margin-top: 5%;
    width: 100%;
  }

  .greyButton {
    width: 35%;
  }

  .whiteButton {
    width: 35%;
  }
}
