.inputGroup {
  display: flex;
  flex-direction: column;
  padding-top: 5px;
  padding-bottom: 5px;
  position: relative;
  background-color: #f5e6ff;
  width: 100%;
}

.inputField {
  all: unset;
  border: none;
  outline: none;
  position: relative;
  color: rgba(72, 28, 142, 0.6509803922);
  padding-left: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.label {
  pointer-events: none;
  position: absolute;
  width: 100%;
  margin-left: 5px;
  transition: all 0.3s ease;
  font-size: 14px;
  color: grey;

  .inputField:hover ~ & {
    color: #2fe7e4;
  }

  .inputField:focus ~ &,
  .inputField:valid ~ & {
    transform: translateY(-150%);
    font-size: 12px;
    color: #ffffff;
  }

  &.error {
    @extend .label;
    .inputField:focus ~ &,
    .inputField:valid ~ & {
      color: red;
    }
  }
}

.separationBar {
  position: absolute;
  top: 100%;
  width: 100%;
  height: 2px;
  border-radius: 1px;

  .inputField:hover ~ & {
    background-color: #2fe7e4;
    height: 1px;
  }

  .inputField:focus ~ & {
    height: 2px;
  }

  &.error {
    @extend .separationBar;
    background-color: red;
    .inputField:hover ~ & {
      background-color: red;
      height: 3px;
    }
    .inputField:focus ~ & {
      background-color: grey;
      height: 2px;
    }

    .inputField:valid ~ & {
      background-color: red;
    }
  }
}

.errorMessage {
  font-size: 10px;
  position: absolute;
  bottom: -23.2px;
  left: 5px;
  width: 100%;
  color: red;
}

.action {
  cursor: pointer;
  position: absolute;
  right: 0px;
  bottom: 0px;
  padding: 7px;
  width: 19px;
  height: 14px;
}

@media only screen and (max-width: 600px) {
  .label {
    font-size: 10px;
  }
}

@media only screen and (max-width: 450px) {
  .label {
    font-size: 10px;

    .inputField:focus ~ &,
    .inputField:valid ~ & {
      transform: translateY(-200%);
      font-size: 8px;
    }
  }
}
