.wrapper {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding-top: 4%;
}

.title {
  font-weight: 700;
  font-size: 76px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dot {
  display: inline;
  color: #9500ff;
}

.imageWrapper {
  padding-top: 1%;
  position: relative;
}

.image {
  width: 100%;
}

.desc {
  font-weight: 500;
  font-size: 22px;
  color: #ffffff;
  position: absolute;
  top: 25%;
  left: 4%;
}

@media only screen and (max-width: 800px) {
  .title {
    font-size: 36px;
  }
  .desc {
    font-size: 18px;
    top: 15%;
  }

  .wrapper {
    width: 80%;
  }

  .image {
    height: 150px;
  }
}

@media only screen and (max-width: 450px) {
  .title {
    padding-top: 5%;
    font-size: 24px;
  }
  .desc {
    font-size: 12px;
    top: 15%;
  }

  .wrapper {
    width: 80%;
  }

  .image {
    height: 100px;
  }
}
