.verticalLine {
    margin-top: 0.5em;
    height: 90vh;
    border-color: white;
    border-width: 0.15em;
    border-style: hidden dotted hidden hidden;
    //border-left: 1px solid black; /* Adjust the thickness and color as needed */
    // height: 100px;
    // width: 100px;
    // background-color: red;
}