.taskColumn {
 height: 100%;
 width: 100%;
 display: flex;
 justify-content: center;
 //background-color: black;
 //opacity: 30%;
}

.taskContainer {
    display: flex;
    justify-content: center;
    max-width: 100%;
}