/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/app/homestyles.module.scss ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@import "https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap";
.homestyles_home__shP34 {
  width: 100%;
  font-family: "Montserrat", sans-serif;
}
/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/components/key_services/keys.module.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.keys_wrapper__sRzth {
  height: 100%;
  width: 100%;
  background-color: #481c8e;
}

.keys_description__yDrYj {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  letter-spacing: -0.05em;
  font-size: 24px;
  line-height: 38.76px;
  color: #ffffff;
  width: 873px;
}

.keys_title__SYiXw {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -0.05em;
  color: #ffffff;
}

.keys_textWrapper__WCo6z {
  margin-bottom: 10em;
  display: flex;
  justify-content: space-evenly;
  padding-top: 104px;
}

.keys_cardWrapper__mODvU {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 36px;
}

@media only screen and (max-width: 800px) {
  .keys_title__SYiXw {
    font-size: 26px;
  }
  .keys_description__yDrYj {
    width: 40%;
    font-size: 14px;
    line-height: 28.76px;
  }
  .keys_cardWrapper__mODvU {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
/*!**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/components/key_services/cards/card.module.scss ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.card_card__Wqs_s {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 250px;
  width: 250px;
  background-color: #ffffff;
  position: relative;
}

.card_image__kjZBi {
  width: 50%;
}

.card_imageWrapper__ZkVCg {
  height: 100px;
  width: 100px;
  display: flex;
  background-color: #d9d9d9;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  top: -22%;
}

.card_cardTitle__fx1mt {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: -0.05em;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  margin-top: 18%;
}

.card_cardDescription__pkUSd {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: -0.05em;
  text-align: center;
  margin-top: 1%;
  padding: 10px;
}

@media only screen and (max-width: 800px) {
  .card_card__Wqs_s {
    margin-top: 2em;
  }
}
/*!**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/components/baner/baner.module.scss ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.baner_wrapper__qpN20 {
  width: 100%;
  margin-top: 25px;
}
/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/components/navbar/navbar.module.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.navbar_navbar__geewZ {
  display: flex;
  flex-direction: row;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  margin-top: 1%;
  width: 100%;
}

.navbar_navContainer__oy7IC {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.navbar_navButtons__Lgm0e {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}

.navbar_navButtons__Lgm0e div {
  text-decoration: none;
  color: #333;
  margin-left: 1em;
  font-size: 22px;
  cursor: pointer;
}

.navbar_button__OqVMd {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  background-color: #481c8e;
  color: #fff;
  box-shadow: 4px 4px 6px 0 rgba(0, 0, 0, 0.25);
  border: none;
  cursor: pointer;
  height: 1.5em;
  width: 8em;
  border-radius: 5px;
  margin-left: 2rem;
}

.navbar_logoContainer__ZGhh5 {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.5em;
}

.navbar_logo__CemfE {
  margin-left: 0.5em;
}

.navbar_black__nvyyX {
  margin-left: 0.5em;
}

.navbar_contactContainer__kqZXA {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1em;
}

.navbar_languageIcon__AF_uK {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 1em;
}

.navbar_circle__VhGdj {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  border: 0.5px solid rgb(105, 102, 102);
  background: rgb(255, 0, 0);
  background: linear-gradient(0deg, rgb(255, 0, 0) 15%, rgb(255, 255, 255) 57%);
}

.navbar_language__vbkq9 {
  font-size: 20px;
  font-weight: 400;
}

@media only screen and (max-width: 800px) {
  .navbar_navbar__geewZ {
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    width: 100%;
  }
  .navbar_navButtons__Lgm0e {
    display: none;
  }
  .navbar_navContainer__oy7IC {
    display: flex;
    justify-content: space-between;
  }
  .navbar_button__OqVMd {
    font-size: 14px;
  }
  .navbar_nav__k3w3d {
    display: none;
  }
  .navbar_circle__VhGdj {
    width: 1.5em;
    height: 1.5em;
  }
  .navbar_language__vbkq9 {
    font-size: 14px;
  }
}
.navbar_container__M4JGb {
  margin: 0;
  padding: 0;
}

.navbar_menuToggle__aivT6 {
  display: block;
  cursor: pointer;
  padding: 10px;
}

.navbar_menuBar__hBIb0 {
  width: 30px;
  height: 3px;
  background-color: #333;
  margin: 6px 0;
  transition: 1s;
}

.navbar_menu__MMSTs {
  display: none;
  position: fixed;
  top: 10;
  left: 10;
  width: 50%;
  height: auto;
  background-color: #fff;
  z-index: 1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.navbar_menu__MMSTs a {
  display: block;
  padding: 20px;
  font-size: 20px;
  text-decoration: none;
  color: #333;
  transition: 0.3s;
}

.navbar_menu__MMSTs a:hover {
  background-color: #ddd;
}

.navbar_menu__MMSTs.navbar_active__zofrY {
  display: block;
}

.navbar_closeButton__B55ax {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 24px;
  color: #333;
}
/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/components/whatWeDo/whatWeDo.module.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.whatWeDo_wrapper__e1Qq8 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 50vh;
}

.whatWeDo_whatWeDo__9jpVr {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 48px;
}

.whatWeDo_description__cvDe3 {
  width: 848px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 38.76px;
  letter-spacing: -0.05em;
}

.whatWeDo_descriptionPersite__Yg62T {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  display: inline;
  line-height: 58px;
  font-size: 36px;
  letter-spacing: -0.05em;
}

@media only screen and (max-width: 800px) {
  .whatWeDo_whatWeDo__9jpVr {
    font-size: 32px;
  }
  .whatWeDo_description__cvDe3 {
    width: 50%;
    font-size: 16px;
    line-height: 28.76px;
  }
  .whatWeDo_descriptionPersite__Yg62T {
    font-size: 24px;
    line-height: 28.76px;
  }
}
