/*!**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/components/baner/baner.module.scss ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.baner_wrapper__qpN20 {
  width: 100%;
  margin-top: 25px;
}
/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/components/contact/check.module.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.check_checkboxWrapper__rdDO5 input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  /* creating a custom design */
  width: 1.6em;
  height: 1.6em;
  margin-right: 0.5em;
  border: 2px solid #ffffff;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  padding-bottom: 20px;
  z-index: 2;
}

input.check_checked___wqxx {
  background-color: #2fe7e4;
  position: relative;
}

input.check_checked___wqxx::before {
  content: "X";
  font-size: 1em;
  color: #fff;
  position: absolute;
  left: 25%;
  top: 2px;
}

.check_policy__AOnl2 {
  font-weight: 500;
  color: #f5e6ff;
  font-size: 12px;
  width: 80%;
}

.check_labelWrapper__KfovJ {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

@media only screen and (max-width: 800px) {
  .check_policy__AOnl2 {
    font-size: 8px;
    width: 60%;
  }
}
/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/components/key_services/keys.module.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.keys_wrapper__sRzth {
  height: 100%;
  width: 100%;
  background-color: rgba(72, 28, 142, 0.3019607843);
}

.keys_description__yDrYj {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 38.76px;
  width: 873px;
}

.keys_title__SYiXw {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
}

.keys_textWrapper__WCo6z {
  margin-bottom: 10em;
  display: flex;
  justify-content: space-evenly;
  padding-top: 104px;
}

.keys_cardWrapper__mODvU {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 36px;
  padding-bottom: 10%;
}

@media only screen and (max-width: 800px) {
  .keys_title__SYiXw {
    font-size: 26px;
  }
  .keys_textWrapper__WCo6z {
    margin-bottom: 5em;
  }
  .keys_description__yDrYj {
    width: 40%;
    font-size: 14px;
    line-height: 28.76px;
  }
  .keys_cardWrapper__mODvU {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
/*!**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/components/key_services/cards/card.module.scss ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.card_card__Wqs_s {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 300px;
  width: 250px;
  background-color: #ffffff;
  position: relative;
}

.card_image__kjZBi {
  width: 50%;
}

.card_imageWrapper__ZkVCg {
  height: 100px;
  width: 100px;
  display: flex;
  background-color: #d9d9d9;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  top: -22%;
}

.card_cardTitle__fx1mt {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 0.05em;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  margin-top: 18%;
}

.card_cardDescription__pkUSd {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 0.05em;
  text-align: center;
  margin-top: 1%;
  padding: 10px;
}

@media only screen and (max-width: 800px) {
  .card_card__Wqs_s {
    margin-top: 4em;
  }
}
/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/app/homestyles.module.scss ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@import "https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap";
.homestyles_home__shP34 {
  width: 100%;
  font-family: "Montserrat", sans-serif;
  background-image: url("/_next/static/media/Group 15.caa92b5c.png");
}
/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/components/contact/title.module.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.title_wrapper__7GCDa {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding-top: 4%;
}

.title_title__6hlB9 {
  font-weight: 700;
  font-size: 76px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title_dot__j9rC5 {
  display: inline;
  color: #9500ff;
}

.title_imageWrapper__sbQD6 {
  padding-top: 1%;
  position: relative;
}

.title_image__Ht0Cs {
  width: 100%;
}

.title_desc__pRgkd {
  font-weight: 500;
  font-size: 22px;
  color: #ffffff;
  position: absolute;
  top: 25%;
  left: 4%;
}

@media only screen and (max-width: 800px) {
  .title_title__6hlB9 {
    font-size: 36px;
  }
  .title_desc__pRgkd {
    font-size: 18px;
    top: 15%;
  }
  .title_wrapper__7GCDa {
    width: 80%;
  }
  .title_image__Ht0Cs {
    height: 150px;
  }
}
/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/components/navbar/navbar.module.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.navbar_navbar__geewZ {
  display: flex;
  flex-direction: row;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  padding-top: 1%;
  width: 100%;
}

.navbar_navContainer__oy7IC {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.navbar_navButtons__Lgm0e {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}

.navbar_navButtons__Lgm0e div {
  text-decoration: none;
  color: #333;
  margin-left: 1em;
  font-size: 22px;
  cursor: pointer;
}

.navbar_button__OqVMd {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  background-color: #481c8e;
  color: #fff;
  box-shadow: 4px 4px 6px 0 rgba(0, 0, 0, 0.25);
  border: none;
  cursor: pointer;
  height: 1.5em;
  width: 8em;
  border-radius: 5px;
  margin-left: 2rem;
}

.navbar_logoContainer__ZGhh5 {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.5em;
}

.navbar_logo__CemfE {
  margin-left: 0.5em;
}

.navbar_black__nvyyX {
  margin-left: 0.5em;
}

.navbar_contactContainer__kqZXA {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1em;
}

.navbar_languageIcon__AF_uK {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 1em;
}

.navbar_circle__VhGdj {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  border: 0.5px solid rgb(105, 102, 102);
  background: rgb(255, 0, 0);
  background: linear-gradient(0deg, rgb(255, 0, 0) 15%, rgb(255, 255, 255) 57%);
}

.navbar_language__vbkq9 {
  font-size: 20px;
  font-weight: 400;
}

@media only screen and (max-width: 800px) {
  .navbar_navbar__geewZ {
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    width: 100%;
  }
  .navbar_navButtons__Lgm0e {
    display: none;
  }
  .navbar_navContainer__oy7IC {
    display: flex;
    justify-content: space-between;
  }
  .navbar_button__OqVMd {
    font-size: 14px;
  }
  .navbar_nav__k3w3d {
    display: none;
  }
  .navbar_circle__VhGdj {
    width: 1.5em;
    height: 1.5em;
  }
  .navbar_language__vbkq9 {
    font-size: 14px;
  }
}
.navbar_container__M4JGb {
  margin: 0;
  padding: 0;
}

.navbar_menuToggle__aivT6 {
  display: block;
  cursor: pointer;
  padding: 10px;
}

.navbar_menuBar__hBIb0 {
  width: 30px;
  height: 3px;
  background-color: #333;
  margin: 6px 0;
  transition: 1s;
}

.navbar_menu__MMSTs {
  display: none;
  position: fixed;
  top: 10;
  left: 10;
  width: 50%;
  height: auto;
  background-color: #fff;
  z-index: 1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.navbar_menu__MMSTs a {
  display: block;
  padding: 20px;
  font-size: 20px;
  text-decoration: none;
  color: #333;
  transition: 0.3s;
}

.navbar_menu__MMSTs a:hover {
  background-color: #ddd;
}

.navbar_menu__MMSTs.navbar_active__zofrY {
  display: block;
}

.navbar_closeButton__B55ax {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 24px;
  color: #333;
}
/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/components/process/process.module.scss ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.process_wrapper__maPoj {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.process_leftSide__euQFe {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.process_headerWrapper__gJ8H_ {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
}

.process_title__uzHzX {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 37.76px;
  margin-bottom: 2rem;
  width: 60%;
}

.process_description__Mwmb6 {
  width: 50%;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 0.05em;
  color: #000000;
}

.process_imageWrapper__OirhJ {
  padding-top: 5%;
}

.process_rightSide__XARO_ {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

@media only screen and (max-width: 800px) {
  .process_wrapper__maPoj {
    display: none;
  }
}
/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/components/process/processesContent/processesContent.module.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.processesContent_titleWrapper__iqW17 {
  padding-top: 20%;
}

.processesContent_animated-image__QEj5V {
  transition: width 1s ease-in-out;
}

.processesContent_subtractWrapper__K9ujD {
  position: relative;
  display: flex;
  flex-direction: row;
}

.processesContent_absolute__BdLBM {
  position: absolute;
  top: 0;
  left: 5rem;
  font-size: 36px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #ffffff;
}

.processesContent_image1__KbdCU {
  width: 330px;
  height: 65px;
}

.processesContent_image3__SrVFT {
  width: 510px;
  height: 65px;
}

.processesContent_image5__qvV3S {
  height: 65px;
  width: 510px;
}

.processesContent_number__Dx9NK {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 45px;
  margin-left: 1%;
}

.processesContent_subtractTitle__sDHza {
  width: 50%;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 0.05em;
  color: #000000;
  padding-left: 5rem;
  padding-top: 3rem;
}
/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/components/whatWeDo/whatWeDo.module.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.whatWeDo_wrapper__e1Qq8 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 50vh;
}

.whatWeDo_whatWeDo__9jpVr {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 48px;
}

.whatWeDo_description__cvDe3 {
  width: 848px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 38.76px;
}

.whatWeDo_descriptionPersite__Yg62T {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  display: inline;
  line-height: 58px;
  font-size: 36px;
}

@media only screen and (max-width: 800px) {
  .whatWeDo_whatWeDo__9jpVr {
    font-size: 32px;
  }
  .whatWeDo_description__cvDe3 {
    width: 50%;
    font-size: 16px;
    line-height: 28.76px;
  }
  .whatWeDo_descriptionPersite__Yg62T {
    font-size: 24px;
    line-height: 28.76px;
  }
}
/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/components/process/processesContent/processesRight.module.scss ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.processesRight_titleWrapper__lMXOF {
  padding-top: 20%;
}

.processesRight_subtractWrapper__BeuO7 {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
}

.processesRight_absolute__NHtEs {
  position: absolute;
  top: 0;
  right: 10rem;
  font-size: 36px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #ffffff;
}

.processesRight_image2__0MghQ {
  width: 600px;
  height: 65px;
}

.processesRight_image4__ZGcEJ {
  width: 600px;
  height: 65px;
}

.processesRight_number__sFju8 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 45px;
  margin-right: 1%;
}

.processesRight_subtractTitle___2h9h {
  width: 50%;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 0.05em;
  color: #000000;
  padding-right: 7rem;
  padding-top: 3rem;
}

.processesRight_subtractTitleWrapper__43y3F {
  display: flex;
  justify-content: flex-end;
}
/*!**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/components/doggy/doggy.module.scss ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.doggy_wrapper__KLrQX {
  background-image: url(/_next/static/media/doggy.e3dece76.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  background-repeat: no-repeat;
  margin-top: 5em;
  position: relative;
}

.doggy_textWrapper__pzYf9 {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  margin-left: 5rem;
  padding-top: 5%;
  padding-bottom: 5%;
}

.doggy_title__opi_9 {
  color: #f5e6ff;
  font-weight: 700;
  font-size: 42px;
}

.doggy_dots__xmX0X {
  display: inline;
  color: #9500ff;
}

.doggy_description__BOA_s {
  width: 70%;
  padding-top: 2%;
  color: #f5e6ff;
  letter-spacing: 0.05em;
  font-size: 28px;
  font-weight: 500;
}

.doggy_absolute__AxAO4 {
  position: absolute;
  right: 0;
  top: 35%;
}

@media only screen and (max-width: 800px) {
  .doggy_title__opi_9 {
    font-size: 22px;
  }
  .doggy_description__BOA_s {
    font-size: 16px;
  }
  .doggy_textWrapper__pzYf9 {
    margin-left: 1rem;
    width: 40%;
  }
  .doggy_image__QR9Ac {
    height: 80px;
    width: 60px;
  }
}
/*!***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/components/contact/form.module.scss ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.form_wrapper__wSUcK {
  height: 400px;
  width: 60%;
  margin-left: 20vw;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(/_next/static/media/contactImage.2b6590aa.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  gap: 20px;
}

.form_absolute__FOCJT {
  position: absolute;
  left: 0;
  top: 20%;
}

.form_absolute2__rXgnR {
  position: absolute;
  right: 0;
  top: 20%;
  display: flex;
  justify-content: flex-end;
}

.form_image__LcEAo {
  height: auto;
  width: 50%;
}

.form_image2__oE6ZM {
  height: auto;
  width: 50%;
  transform: rotateY(180deg);
}

.form_wrapperContent__Rau8d {
  margin-top: 5%;
}

.form_firstColumns___dGi_ {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 2;
}

.form_input__Q7CS4 {
  width: 30%;
  border: none;
  outline: none;
  background-color: #f5e6ff;
  font-size: inherit;
  font-family: inherit;
  color: rgba(72, 28, 142, 0.6509803922);
  padding: 10px;
  margin: 0;
}

.form_input__Q7CS4::-moz-placeholder {
  padding-left: 5px;
}

.form_input__Q7CS4::placeholder {
  padding-left: 5px;
}

.form_inputMail__nP5ft::-moz-placeholder {
  padding-left: 5px;
}

.form_inputMail__nP5ft::placeholder {
  padding-left: 5px;
}

.form_inputMail__nP5ft {
  width: 80%;
  border: none;
  outline: none;
  background-color: #f5e6ff;
  font-size: inherit;
  font-family: inherit;
  color: rgba(72, 28, 142, 0.6509803922);
  padding: 10px;
  margin: 0;
  z-index: 2;
}

.form_mailInput__cE_YP {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  z-index: 2;
}

.form_descInput__bBV8A {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  z-index: 2;
}

.form_descInput__bBV8A::-moz-placeholder {
  padding-left: 5px;
}

.form_descInput__bBV8A::placeholder {
  padding-left: 5px;
}

.form_inputDesc__HFIKT {
  width: 80%;
  height: 4em;
  border: none;
  outline: none;
  background-color: #f5e6ff;
  font-size: inherit;
  font-family: inherit;
  color: rgba(72, 28, 142, 0.6509803922);
  padding: 10px;
  margin: 0;
}

.form_checkboxik__J78St {
  width: 40px;
  height: 40px;
  color: black;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 3px solid #ffffff;
  border-radius: 11px;
}

@media only screen and (max-width: 800px) {
  .form_wrapper__wSUcK {
    height: 200px;
    margin-top: 4%;
    width: 100%;
    margin-left: 0vw;
    gap: 10px;
  }
  .form_firstColumns___dGi_ {
    padding-top: 10px;
  }
  .form_input__Q7CS4 {
    font-size: 12px;
    padding: 5px;
  }
  .form_inputMail__nP5ft {
    font-size: 12px;
    padding: 5px;
  }
  .form_inputDesc__HFIKT {
    height: auto;
    font-size: 12px;
    padding: 5px;
  }
  .form_absolute__FOCJT {
    top: 20%;
  }
  .form_absolute2__rXgnR {
    top: 20%;
  }
  .form_image__LcEAo {
    height: auto;
    width: 50%;
  }
  .form_image2__oE6ZM {
    height: auto;
    width: 50%;
  }
}
