.navbar {
  display: flex;
  flex-direction: row;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  width: 100%;
  padding-top: 36px;
}

.logo {
  margin-left: 38px;
}

.navContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  margin-left: 53.11px;
}

.navButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.navButtons div {
  text-decoration: none;
  color: #ffffff;
  font-weight: 400;
  margin-right: 40px;
  font-size: 24px;
  cursor: pointer;
  position: relative;
}

.navButtons div::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #2fe7e4;
  top: 40px;
  left: 0;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}

.navButtons div:hover::after {
  transform: scaleX(1);
}

.button {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50px;
  width: 232px;
  height: 40px;
  color: #000;
  cursor: pointer;
  font-family: inherit;
  font-weight: bold;
  font-size: 24px;
  mix-blend-mode: screen;
  padding-left: 32px;
  padding-right: 32px;
  transition-duration: 0.5s;

  &:hover {
    background-color: #2fe7e4;
  }
}

.contactContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 49px;
}

.language {
  font-size: 24px;
  font-weight: 300;
  color: #fff;
  margin-left: 43px;
  cursor: pointer;
}

@media only screen and (max-width: 800px) {
  .navbar {
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    width: 100%;
  }
  .navButtons {
    display: none;
  }
  .navContainer {
    display: flex;
    justify-content: space-between;
  }
  .button {
    font-size: 14px;
  }
  .nav {
    display: none;
  }
}
