.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 5%;
  position: relative;
}

.line {
  position: absolute;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 10px;
}

.gridItem {
  width: 100%;
}

.titleWrapper {
  display: flex;
  flex-direction: column;
}

.full {
  display: flex;
  flex-direction: column;
}

.imageNumberWrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.imageNumberWrapperRight {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.subtractWrapper {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  position: relative;
  width: 60%;
}

.subtractWrapperRight {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  position: relative;
  width: 60%;
}

.absolute {
  position: absolute;
  top: 10%;
  left: 30%;
  font-size: 36px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #ffffff;
}

.absoluteLong {
  position: absolute;
  top: 10%;
  left: 10%;
  font-size: 36px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #ffffff;
}

.absoluteRight {
  position: absolute;
  top: 10%;
  left: 10%;
  font-size: 36px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #ffffff;
}
.imageLeft {
  width: 100%;
}

.imageRight {
  width: 100%;
}

.number {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 45px;
  margin-left: 1%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: -10.5%;
  top: 0;
  height: 100%;
  width: 20%;
  border-radius: 50%;
  background-color: #481c8e;
}

.numberRight {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 45px;
  margin-left: 1%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: -12%;
  top: 0;
  height: 100%;
  width: 20%;
  border-radius: 50%;
  background-color: #481c8e;
}

.numberDiv {
  margin-left: 10px;
}

.numberNumber {
  font-size: 48px;
  color: #ffffff;
}

.numberDot {
  color: #2fe7e4;
}

.subtractTitle {
  width: 50%;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 0.05em;
  color: #000000;
  margin-right: 2%;
  padding-top: 2%;
}

.subtractTitleRight {
  width: 50%;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 0.05em;
  color: #000000;
  margin-left: 2%;
  padding-top: 2%;
}

.mainTitleWrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-bottom: 5%;
}

.title {
  color: #000000;
  font-weight: 700;
  font-size: 42px;
}

.dots {
  display: inline;
  color: #9500ff;
}

.descriptionWrapper {
  width: 30%;
}

@media only screen and (max-width: 450px) {
  .title {
    font-size: 20px;
    padding-left: 10%;
  }

  .descriptionWrapper {
    font-size: 12px;
    width: 60%;
  }
  .subtractTitle,
  .subtractTitleRight {
    font-size: 12px;
    width: 100%;
    padding: 5%;
  }

  .absolute,
  .absoluteRight,
  .absoluteLong {
    font-size: 14px;
  }

  .absolute {
    top: 15%;
    left: -15%;
  }

  .absoluteRight {
    top: 5%;
    left: 30%;
  }

  .absoluteLong {
    left: -20%;
    top: 3%;
  }
  .imageLeft,
  .imageRight {
    height: 60px;
    width: 150px;
  }

  .number {
    font-size: 30px;
    right: -30%;
    top: 0;
    height: 100%;
    width: 50%;
  }
  .numberRight {
    font-size: 30px;
    margin-left: 1%;
    left: -30%;
    top: 0;
    height: 100%;
    width: 50%;
  }

  .numberNumber {
    font-size: 30px;
  }
}
