@import "https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap";

.home {
  width: 100%;
  font-family: "Montserrat", sans-serif;
  background-image: url("../../public/Group\ 15.png");
}
