.wrapper {
  height: 100%;
  width: 100%;
  background-color: #481c8e66;
}

.description {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 38.76px;
  width: 873px;
}

.title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
}

.textWrapper {
  margin-bottom: 10em;
  display: flex;
  justify-content: space-evenly;
  padding-top: 104px;
}

.cardWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 36px;
  padding-bottom: 10%;
}

@media only screen and (max-width: 800px) {
  .title {
    font-size: 26px;
  }

  .textWrapper {
    margin-bottom: 5em;
  }

  .description {
    width: 40%;
    font-size: 14px;
    line-height: 28.76px;
  }
  .cardWrapper {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width: 450px) {
  .title {
    font-size: 20px;
  }

  .textWrapper {
    margin-bottom: 3em;
    padding-top: 50px;
  }

  .description {
    width: 40%;
    font-size: 12px;
  }
  .cardWrapper {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
