.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10%;
}
.faq {
  width: 60%;
}

.questionWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #f5e6ff;

  &.active {
    .arrow {
      transform: rotate(180deg);
    }
  }
}
.flex {
  display: flex;
  position: relative;
  padding: 15px 0;
}
.number {
  display: flex;
  flex-direction: row;
  font-weight: 700;
  font-size: 28px;
  margin-left: 1%;
  width: 8%;
}

.dot {
  color: #2fe7e4;
}

.question {
  font-weight: 700;
  font-size: 28px;
}

.absolute {
  position: absolute;
  right: 1%;
  top: 35%;
}

.arrow {
  transition: transform 0.3s ease;
}

.answer {
  background-color: #ffffff;
  width: 100%;
  padding: 10px 0px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  font-weight: 500;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 90%;
}

.title {
  color: #000000;
  font-weight: 700;
  font-size: 42px;
}

.dots {
  display: inline;
  color: #9500ff;
}
.textWrapper {
  width: 60%;
  margin-left: 5%;
  padding-bottom: 0.5%;
}

@media only screen and (max-width: 450px) {
  .title {
    font-size: 16px;
  }
  .text {
    font-size: 14px;
  }
  .question {
    font-size: 12px;
  }
  .number {
    font-size: 12px;
  }
  .textWrapper,
  .faq {
    width: 80%;
  }
  .arrow {
    display: none;
  }
}
